**Regras de associação**

**Algoritmo Apriori**

**Veja: https://www.youtube.com/watch?v=0v6PiOpsJi8**

In [25]:
!pip install apyori

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: apyori in c:\users\kino1\appdata\roaming\python\python312\site-packages (1.1.2)

In [26]:
import pandas as pd
from apyori import apriori

In [27]:
#encoding = "cp1252", encoding='utf-8', encoding='latin1'etc
base= pd.read_csv('MercadoSim.csv', sep=';',encoding='cp1252', header=None)
base

        0     1        2    3         4      5       6
0   Leite  Cafe  Cerveja  Pao  Manteiga  Arroz  Feijao
1     Nao   Sim      Nao  Sim       Sim    Nao     Nao
2     Sim   Nao      Sim  Sim       Sim    Nao     Nao
3     Nao   Sim      Nao  Sim       Sim    Nao     Nao
4     Sim   Sim      Nao  Sim       Sim    Nao     Nao
5     Nao   Nao      Sim  Nao       Nao    Nao     Nao
6     Nao   Nao      Nao  Nao       Sim    Nao     Nao
7     Nao   Nao      Nao  Sim       Nao    Nao     Nao
8     Nao   Nao      Nao  Nao       Nao    Nao     Sim
9     Nao   Nao      Nao  Nao       Nao    Sim     Sim
10    Nao   Nao      Nao  Nao       Nao    Sim     Nao

In [28]:
base.shape

(11, 7)

**Como estaremos treinando um modelo a priori, que recebe entradas em formato de lista, precisamos transformar o dataframe em uma lista de transações.**

In [29]:
transacoes = []
for i in range(len(base)):
  #print(i)
  #print(base_mercado1.values[i, 0])
  transacoes.append([str(base.values[i, j]) for j in range(base.shape[1])])

In [30]:
transacoes

[['Leite', 'Cafe', 'Cerveja', 'Pao', 'Manteiga', 'Arroz', 'Feijao'],
 ['Nao', 'Sim', 'Nao', 'Sim', 'Sim', 'Nao', 'Nao'],
 ['Sim', 'Nao', 'Sim', 'Sim', 'Sim', 'Nao', 'Nao'],
 ['Nao', 'Sim', 'Nao', 'Sim', 'Sim', 'Nao', 'Nao'],
 ['Sim', 'Sim', 'Nao', 'Sim', 'Sim', 'Nao', 'Nao'],
 ['Nao', 'Nao', 'Sim', 'Nao', 'Nao', 'Nao', 'Nao'],
 ['Nao', 'Nao', 'Nao', 'Nao', 'Sim', 'Nao', 'Nao'],
 ['Nao', 'Nao', 'Nao', 'Sim', 'Nao', 'Nao', 'Nao'],
 ['Nao', 'Nao', 'Nao', 'Nao', 'Nao', 'Nao', 'Sim'],
 ['Nao', 'Nao', 'Nao', 'Nao', 'Nao', 'Sim', 'Sim'],
 ['Nao', 'Nao', 'Nao', 'Nao', 'Nao', 'Sim', 'Nao']]

In [31]:
type(transacoes)

list

**Vamos chamar executar o algoritmo apriori e armazenar as regras obtidas**

In [32]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8)
saida = list(regras)
print(len(saida))
print(saida)

3
[RelationRecord(items=frozenset({'Nao'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Nao'}), confidence=0.9090909090909091, lift=1.0)]), RelationRecord(items=frozenset({'Sim'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Sim'}), confidence=0.9090909090909091, lift=1.0)]), RelationRecord(items=frozenset({'Nao', 'Sim'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Nao', 'Sim'}), confidence=0.9090909090909091, lift=1.0), OrderedStatistic(items_base=frozenset({'Nao'}), items_add=frozenset({'Sim'}), confidence=1.0, lift=1.1), OrderedStatistic(items_base=frozenset({'Sim'}), items_add=frozenset({'Nao'}), confidence=1.0, lift=1.1)])]

In [33]:
print(saida[0])

RelationRecord(items=frozenset({'Nao'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Nao'}), confidence=0.9090909090909091, lift=1.0)])

In [34]:
print(saida[1])

RelationRecord(items=frozenset({'Sim'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Sim'}), confidence=0.9090909090909091, lift=1.0)])

In [35]:
print(saida[2])

RelationRecord(items=frozenset({'Nao', 'Sim'}), support=0.9090909090909091, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Nao', 'Sim'}), confidence=0.9090909090909091, lift=1.0), OrderedStatistic(items_base=frozenset({'Nao'}), items_add=frozenset({'Sim'}), confidence=1.0, lift=1.1), OrderedStatistic(items_base=frozenset({'Sim'}), items_add=frozenset({'Nao'}), confidence=1.0, lift=1.1)])

**Para facilitar a visualização, veja como transformar isso em um dataframe**

Extraído de:

https://www.section.io/engineering-education/apriori-algorithm-in-python/

https://splunktool.com/understanding-apyoris-output

In [36]:
Antecedente = []
Consequente = []
suporte = []
confianca = []
lift = []
RegrasFinais = []

for resultado in saida:
  s = resultado[1]
  result_rules = resultado[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    if 'nan' in a or 'nan' in b: continue
    if len(a) == 0 or len(b) == 0: continue
    Antecedente.append(a)
    Consequente.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)
    RegrasFinais = pd.DataFrame({'Antecedente': Antecedente, 'Consequente': Consequente, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [37]:
RegrasFinais

  Antecedente Consequente   suporte  confianca  lift
0       [Nao]       [Sim]  0.909091        1.0   1.1
1       [Sim]       [Nao]  0.909091        1.0   1.1

**Podemos ordenar estas regras por uma métrica desejada**

In [38]:
RegrasFinais.sort_values(by='lift', ascending =False)

  Antecedente Consequente   suporte  confianca  lift
0       [Nao]       [Sim]  0.909091        1.0   1.1
1       [Sim]       [Nao]  0.909091        1.0   1.1